<template>
    <section class="page-section" id="contact">
        <div class="container">
            <div class="justify-content-center">
                <div class="row mt-2">
                    <div class="col-md-12 mb-2">
                        <p class="font-weight-bolder">실시간 이슈 [종목분석]</p>
                        <hr class="dropdown-divider">
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-dark js-scroll-trigger col-md-5 btn-sm mb-2 mr-1">
                            <router-link to="/notfound" class="btn-dark">이슈/테마 검색</router-link>
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <mq-layout mq="laptop">
                            <button class="btn btn-danger js-scroll-trigger col-sm-2 mr-1 btn-sm mb-2">일
                            </button>
                            <button class="btn btn-danger js-scroll-trigger col-sm-2 mr-1 btn-sm mb-2">주
                            </button>
                            <button class="btn btn-danger js-scroll-trigger col-sm-2 mr-1 btn-sm mb-2">1개월
                            </button>
                            <button class="btn btn-danger js-scroll-trigger col-sm-2 btn-sm mb-2">최대</button>
                        </mq-layout>
                        <mq-layout mq="tablet">
                            <table class="text-center w-100">
                                <tr>
                                    <td class="w-25">
                                        <button class="btn btn-danger js-scroll-trigger col-sm-5 mr-1 btn-sm mb-2">
                                            일
                                        </button>
                                    </td>
                                    <td class="w-25">
                                        <button class="btn btn-danger js-scroll-trigger col-sm-5 mr-1 btn-sm mb-2">
                                            주
                                        </button>
                                    </td>
                                    <td class="w-25">
                                        <button class="btn btn-danger js-scroll-trigger col-sm-5 mr-1 btn-sm mb-2">
                                            1개월
                                        </button>
                                    </td>
                                    <td class="w-25">
                                        <button class="btn btn-danger js-scroll-trigger col-sm-5 btn-sm mb-2">최대
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </mq-layout>
                    </div>
                    <div class="col-lg-5">
                        <mq-layout mq="laptop">
                            종목검색
                            <i class="fas fa-search mb-2 ml-1"></i>
                            <input type="text" placeholder="종목명 or 종목코드를 입력하세요" v-model="code" name="code"
                                   class="form-control-sm col-md-6 mb-2 mr-2"/>
                            <button class="btn-sm btn-dark js-scroll-trigger col-md-3 btn-sm mb-2"
                                    @click="getStockInfo()">검색하기
                            </button>
                        </mq-layout>
                        <mq-layout mq="tablet">
                            <table class="w-100">
                                <td style="width: 20%">
                                    종목검색
                                    <i class="fas fa-search mb-2 ml-1"></i>
                                </td>
                                <td style="width: 40%;">
                                    <input type="text" placeholder="종목명 or 종목코드를 입력하세요" v-model="code"
                                           name="code"
                                           class="form-control-sm col-md-6 mb-2 mr-2"/>
                                </td>
                                <td style="width: 20%;">
                                    <button class="btn-sm btn-dark js-scroll-trigger col-md-3 btn-sm mb-2"
                                            @click="getStockInfo()">검색하기
                                    </button>
                                </td>
                            </table>
                        </mq-layout>
                    </div>
                </div>
                <hr class="dropdown-divider">
                <div class="row mt-3">
                    <div class="col-lg-7">
                        <ChartHeader/>
                    </div>
                    <div class="col-lg-5">
                        <div class="row mt-2 ml-1">
                            <button class="btn-sm btn-dark js-scroll-trigger col-sm-3 mr-2 mt-1">기업뉴스</button>
                            <button class="btn-sm btn-dark js-scroll-trigger col-sm-3 mr-2 mt-1">기업공시</button>
                            <button class="btn-sm btn-dark js-scroll-trigger col-sm-3 mr-2 mt-1">이슈분석</button>
                        </div>
                        <div class="row ml-1">
                            <button class="btn btn-outline-info js-scroll-trigger col-sm-10 mt-3 mr-2">관심업종 등록하기
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center mt-3">
                    <!--                    <LineChart/>-->
                    <div id="chart">
                        <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <table class="table table-borderless small text-left">
                            <thead class="border">
                            <tr>
                                <th colspan="4">종목정보</th>
                            </tr>
                            </thead>
                            <tbody class="border">
                            <tr>
                                <th class="font-weight-normal">전일</th>
                                <td class="bg-light text-right font-weight-bolder">718</td>
                                <th class="font-weight-normal">시가</th>
                                <td class="bg-light text-right font-weight-bolder">718</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">고가</th>
                                <td class="bg-light text-right text-danger font-weight-bolder">721</td>
                                <th class="font-weight-normal">저가</th>
                                <td class="bg-light text-right text-info font-weight-bolder">701</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">거래량</th>
                                <td class="bg-light text-right font-weight-bolder">349,619</td>
                                <th class="font-weight-normal">거래대금</th>
                                <td class="bg-light text-right font-weight-bolder">249백</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">52주최고</th>
                                <td class="bg-light text-right text-danger font-weight-bolder">1,235</td>
                                <th class="font-weight-normal">52주최저</th>
                                <td class="bg-light text-right text-info font-weight-bolder">515</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal small">외인보유비중</th>
                                <td class="bg-light text-right font-weight-bolder">3.52%</td>
                                <th class="font-weight-normal">시가총액</th>
                                <td class="bg-light text-right font-weight-bolder">1,134억원</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">액면가</th>
                                <td class="bg-light text-right font-weight-bolder">500원</td>
                                <th class="font-weight-normal">상장주식</th>
                                <td class="bg-light text-right font-weight-bolder">158,418,281주</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">EPS*</th>
                                <td class="bg-light text-right font-weight-bolder">-89원</td>
                                <th class="font-weight-normal">PER*</th>
                                <td class="bg-light text-right font-weight-bolder">-5.3배</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">BPS*</th>
                                <td class="bg-light text-right font-weight-bolder">680원</td>
                                <th class="font-weight-normal">PBR*</th>
                                <td class="bg-light text-right font-weight-bolder">1.1배</td>
                            </tr>
                            <tr>
                                <th class="font-weight-normal">업종</th>
                                <td class="bg-light text-right font-weight-bolder">IT서비스</td>
                                <th class="font-weight-normal small">배당수익률</th>
                                <td class="bg-light text-right font-weight-bolder">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-borderless small text-left table-hover">
                            <thead class="border">
                            <tr>
                                <th colspan="5">연관이슈 종목</th>
                            </tr>
                            </thead>
                            <tbody class="border">
                            <tr class="font-weight-bolder">
                                <th>순위</th>
                                <td>업체명</td>
                                <td>산업</td>
                                <td>이슈점수</td>
                                <td>등락</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>삼성전자</td>
                                <td>제조</td>
                                <td>89</td>
                                <td>+5.8%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-borderless small text-left table-hover">
                            <thead class="border">
                            <tr class="border-bottom">
                                <th colspan="4">시뮬레이션 수익률</th>
                            </tr>
                            <tr class=bg-light>
                                <th colspan="4" class="font-weight-normal">기준일 - 2019.02.03 &nbsp;수익률 <p
                                        class="text-danger d-inline-block m-0 font-weight-bolder">135.4%(보유중)</p></th>
                            </tr>
                            </thead>
                            <tbody class="border">
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>2019.08.08 00:00</td>
                                <td>매수</td>
                                <td>103,000</td>
                                <td>100%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import MixedChart from "../common/MixedChart";
    import ChartHeader from "../common/ChartHeader";
    import YAxisChart from "../common/YAxisChart";
    import LineChart from "../common/LineChart";
    import {chartService} from '../_services/chart.service';
    import VueApexCharts from "vue-apexcharts";
    import VueMq from 'vue-mq'
    import Vue from "vue";

    export default {
        name: 'IndustryIssue',
        data() {
            return {
                eventname: '',
                code:'',
                series: [],
                maxPrice:'',
                minPrice:'',

            chartOptions: {
            chart: {
                height: ['350%', 100],
                type: 'line',
            },
            title: {
                align:'left',
                text:"Price & Issue Index"
            },
            dataLabels: {
                enabled: true,
                enabledOnSeries: []
            },
            stroke: {
                width:[2],
            },
            colors: ['#00e577', '#FF1654'],
            yaxis: [{
                seriesName:'candle',
                tooltip: {
                    enabled:true
                },
                max: this.getMax,
                min: this.getMin,
            },{
                opposite: true,
                seriesName:'line',
                tooltip: {
                    enabled:true
                }
            }
            ],

        // xaxis: {
        //     categories: 
        // },

            plotOptions: {
                candlestick: {
                    colors: {
                    upward: '#db0202',
                    downward: '#2200f1'
                    }
                },

            }
        },

        }

        },
        methods: {
            getStockInfo(){
                const {code} = this;
                let stockData = [];
                let tcode = "005930";
                if(!code){
                    alert('종목명 or 종목코드를 입력하세요');
                    return;
                }else{
                    this.series = [];
                    chartService.getStockInfo(code).then(response => {
                        let obj = JSON.parse(response);
                        let lineData = [];
                        let candleData = [];

                        let highPrices = [];
                        let lowPrices = [];
                        obj.data.forEach((each,index) => {
                            let day = each.collectDay.split('-');
                            let ohlc = [];

                            if(each.openPrice === 0 || each.highPrice === 0 || each.lowPrice === 0 ){
                                each.openPrice = each.tradePrice;
                                each.highPrice = each.tradePrice;
                                each.lowPrice = each.tradePrice;
                            }
                            
                            ohlc.push(each.openPrice);
                            ohlc.push(each.highPrice);
                            ohlc.push(each.lowPrice);
                            ohlc.push(each.tradePrice);
                            
                            highPrices.push(each.highPrice);
                            lowPrices.push(each.lowPrice);
                            let dateData = new Date(day[0], day[1], day[2]);
                            // this.xData.push(dateData);
     
                            candleData.push({
                                x: each.collectDay.substr(5,5),
                                y: ohlc 
                            });
                            
                            lineData.push({
                                x: each.collectDay.substr(5,5),
                                y: each.score,
                            });
                        });

                        // 최대값
                        this.maxPrice = highPrices.reduce( function (previous, current) { 
                            return previous > current ? previous:current;
                        });
                        console.log(" max => ", this.maxPrice);
                         
                        //최소값
                        this.minPrice = lowPrices.reduce( function (previous, current) { 
                            return previous > current ? current:previous;
                        });
                        console.log(" min => ", this.minPrice);
                        console.log(" candleData => ", candleData);

                        this.series.push({
                            name: 'Stok Price',
                            type: 'candlestick',
                            data: candleData,
                        })
                        this.series.push({
                            name: 'Isuue Index',
                            type: 'line',
                            data: lineData,
                        })
                    })
                }
            },

            getMax(){
                let max = Number.parseInt(this.maxPrice * 1.05)
                console.log(" max ===> ", max);
                return max;
            },
            getMin(){
                let min = Number.parseInt(this.minPrice * 0.95)
                console.log(" min ===> ", min);
                return min;
            }

        },
        components: {
            MixedChart,
            YAxisChart,
            LineChart,
            ChartHeader,
            apexchart: VueApexCharts,
            vueMq: VueMq
        },

        mounted : function(){
            console.log(" Mounted !!");
            // this.getStockInfo();
        },
    };

    Vue.use(
        VueMq, {
            breakpoints: {
                tablet: 500,
                laptop: 1250
            }
        }
    );

</script>

<style scoped>

</style>
`