<template>
    <div class="row justify-content-center">
        <section class="page-section">
            <div class="container text-center">
                <img src="img/portfolio/service/landing.jpg" class="d-block w-100 text-center">
            </div>
            <div class="col-lg-10 text-center">
                <div style="height: 30px"></div>
                <input type="text" class="form-control" placeholder="이름을 입력하세요" v-model="userName" name="userName"
                        style="margin-bottom: 10px"/>
                <input type="text" class="form-control" placeholder="전화번호를 숫자만 입력하세요" v-model="phone" name="phone"
                        style="margin-bottom: 10px"/>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mt-2" name="replyNum" placeholder="인증번호 입력" v-model="replyNum"/>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-dark col-md-12 mt-2" @click="sendAuthCode()"><router-link to="/notfound" class="btn-dark" >인증번호 받기</router-link></button>
                    </div>
                </div>
                <div class="m-3">
                    <mq-layout mq="laptop">
                        <input type="checkbox" name="chk_info" value="agreePrivate">&nbsp;개인정보 제공 및 이용동의
                        <a class="js-scroll-trigger ml-2" href="#about">자세히 보기 ></a>
                    </mq-layout>
                    <mq-layout mq="tablet">
                        <div class="small">
                            <input type="checkbox" name="chk_info" value="agreePrivate">&nbsp;개인정보 제공 및 이용동의
                            <a class="js-scroll-trigger ml-2" href="#about">자세히 보기 ></a>
                        </div>
                    </mq-layout>
                </div>
                <button class="btn btn-danger btn-lg js-scroll-trigger col-lg-12 mt-1" @click="authLogin()">
                    <router-link to="/notfound" class="btn-danger">문의하기</router-link></button>
            </div>
        </section>
    </div>
</template>
<script>
    import VueMq from 'vue-mq'
    import Vue from "vue";
    import {userService} from '../_services/user.service';

    export default {
        components: {
            vueMq: VueMq
        },
        data(){
            return{
               userName:"",
               phone:"",
               replyNum:"", 
            }
        },
        methods:{
            sendAuthCode: function(){
                const {phone} = this;
                const {userName} = this;
                console.log(" userName=> ", userName);
                console.log(" phone => ", phone);
                userService.signupQ(userName, phone).then(response => {
                    if (response === 200) {
                        // alert('코드 전송하고 있습니다.');
                        // router.push('/login');
                    } else {
                        alert('일시적 오류가 발생했습니다. 관리자에게 문의 해주세요');
                    }
                });
            }, 
            
            authLogin: function(){
                const {replyNum} = this;
                const {phone} = this;
                userService.getQmember(phone).then(response =>{
                    response = JSON.parse(response);
                    console.log(" >>>>>  111 ", response);

                    if(response.code === "SUCCESS"){
                        console.log(" >>>>> 222 ", response.data);
                        if(response.data.replyNum === replyNum){
                            console.log(" >>>>> ", replyNum);
                            alert('문의 접수 되었습니다.');
                            // userService.updateQmember("isConfirm").then(response =>{
                            //     if(response.status === 200){
                                    
                            //     }else{

                            //     }
                            // });
                        }else{
                            alert('인증 문자를 다시 입력해 주세요.');
                        } 
                    }else{

                    }
                });
                
            }
        }
    };
    Vue.use(
        VueMq, {
            breakpoints: {
                tablet: 500,
                laptop: 1250
            }
        }
    );
</script>

<style scoped>
</style>