<template>
    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright © QUANTREPORT All rights reserved</div>
            <div class="small text-center text-muted" style="margin-top: 20px">
                상호 : 주식회사 퀀트리포트
                사업자등록번호 : 855-87-01550 <br>
                대표 : 진경재 &nbsp;
                통신판매신고번호 : 제 2020-서울구로-0471호 <br>
                주소 : 서울특별시 구로구 디지털로32가길 16, 1206-174호&nbsp;
                고객센터 : 000-000-0000 <br>
                이메일 : jin@quantreport.co.kr
            </div>
        </div>
    </footer>
</template>
